{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Klaif's blog</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><h2 class="top-menu" style="color: #770077;"><span class="glyphicon glyphicon-log-out" style="color: #770077;"></span>Log out</a><br><span>Hello {{ user.username }}</span></h2>
                <h2>
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" style="color: #770077;"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit" style="color: #770077;"></span></a>
                </h2>
            {% else %}
                <h2 class="top-menu" style="color: #828282"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" style="color: #770077;"></span><br>Log in</a></h2>
                <h2 class="top-menu" style="color: #828282"><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user" style="color: #770077;"></span><br>Sign up</a></h2>
            {% endif %}
            <h1><a href="/">Klaif's Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    (function($) {

        $.fn.iComputerSlide = function(options) {

            options = $.extend({
                height: 200,
                btnClose: "Close",
                btnOpen: "Open"
            }, options);

            makeWrap = function($element, options) {
                return '<div class="io_item">' +
                    '<div class="io_item_wrap" style="max-height:' + options.height + 'px">' + $element[0].outerHTML +
                    '<div class="io_trans"></div>' +
                    '</div>' +
                    '<div class="io_button_wrap">' +
                    '<a class="io_button btn_close">' + options.btnClose + '</a>' +
                    '<a class="io_button btn_open">' + options.btnOpen + '</a>' +
                    '</div>' +
                    '</div>';
            };

            $(document).on("click", ".io_button", function() {
                $(this).parents(".io_item").toggleClass("open");
            });

            return this.each(function() {
                var $element = $(this);
                $element.replaceWith(makeWrap($element, options));
            });
        };
    })(jQuery);

    $(function() {

        $(".item_text").iComputerSlide({
            height: 150,
            btnClose: "Read less",
            btnOpen: "Read more"
        });
    });
    </script>
</html>