{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Oleg's blog</title>
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"><h2 class="top-menu" style="color: #770077;"><span class="glyphicon glyphicon-log-out" style="color: #770077;"></span>Log out</a><br><span>Hello {{ user.username }}</span></h2>
                <h2>
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" style="color: #770077;"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit" style="color: #770077;"></span></a>
                </h2>
            {% else %}
                <h2 class="top-menu" style="color: #828282"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" style="color: #770077;"></span><br>Log in</a></h2>
                <h2 class="top-menu" style="color: #828282"><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user" style="color: #770077;"></span><br>Sign up</a></h2>
            {% endif %}
            <h1><a href="/">Oleg's Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>