<html>
    <head>
        <title>Oleg's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Oleg's blog</a></h1>
        </div>
        <br>
        <div>
            <em><p>published: 12.12.2022, 12:42</p></em>
            <h3><a href="">My first post</a></h3>
            <strong><p>Я люблю Дашу</p></strong>
        </div>
        <br>
        <div>
            <em><p>published: 12.12.2022, 12:42</p></em>
            <h3><a href="">My second post</a></h3>
            <strong><p>Dasha amo valde!</p></strong>
        </div>
    </body>
</html>