.page-header {
    background-color: #00BEC8;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #770077;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #00BEC8;
}

.comment {
}

.text_hide_wrap {
    max-width: 700px;
}

.item_text {
    width: 100%;
    padding: 20px;
}

.item_text p {
    margin-bottom: 20px;
}

.io_item {
    width: 100%;
    padding-bottom: 20px;
}

.io_button_wrap {
    text-align: center;
    margin-top: 10px;
}

.io_button {
    display: inline-block;
    border: 1px solid #770077;
    width: auto;
    padding: 0 20px;
    line-height: 32px;
    vertical-align: top;
    text-transform: uppercase;
    color: #770077 !important;
    font-size: 10pt;
    border-radius: 25px;
    cursor: pointer;
}

a.io_button:hover {
    text-decoration: none;
}

.io_item .btn_close {
    display: none;
}

.io_item .btn_open {
    display: inline-block;
}

.io_item.open .btn_close {
    display: inline-block;
}

.io_item.open .btn_open {
    display: none;
}

.io_trans {
    width: inherit;
    position: absolute;
    height: 40px;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 190, 200, 0) 0%, rgba(0, 190, 200, 0.3) 100%);
    transition: 1s;
}

.io_item.open .io_trans {
    height: 0;
    transition: 1s;
}

.io_item_wrap {
    position: relative;
    overflow: hidden;
    max-height: 100px;
    width: inherit;
    transition: max-height 0.5;
}
.io_item.open .io_item_wrap {
    max-height: 5000px !important;
    transition: max-height 1s;
}